# Database Configuration
DB_USER=itbridge
DB_PASSWORD=dev_password
DB_NAME=itbridge_db

# Application Configuration
NODE_ENV=development
PORT=3000

JWT_ACCESS_TOKEN_SECRET=ITBridge2025A
JWT_REFRESH_TOKEN_SECRET=ITBridge2025R

JWT_ACCESS_TOKEN_EXPIRATION=900
JWT_REFRESH_TOKEN_EXPIRATION=604800