@import "tailwindcss";
@import "@nuxt/ui";

@theme {

  /* --color-brand-500: #4c63e6;
  --color-primary-600: #334acc; 
  --color-brand-950: #15236f; 
  
  --color-app-bg-light: #f7f8fd;
  --color-app-text-light: #080a16;
  --color-app-bg-dark: #020308;
  --color-app-text-dark: #e9ebf7; */

    --color-text-light: #080a16;
    --color-bg-light: #f7f8fd;
    --color-primary-light: #334acc;
    --color-secondary-light: #909dea;
    --color-accent-light: #4c63e6;

    --color-text-dark: #e9ebf7;
    --color-bg-dark: #0a0a0a;
    --color-primary-dark: #334acc;
    --color-secondary-dark: #15236f;
    --color-accent-dark: #1930b3 ;

}

@layer base {
  :root {
    --ui-bg: var(--color-bg-light);
    --ui-text: var(--color-text-light);
    --ui-primary: var(--color-primary-light);
    --ui-secondary: var(--color-secondary-light);
    --ui-accent: var(--color-accent-light);
  }

  .dark {
    --ui-bg: var(--color-bg-dark);
    --ui-text: var(--color-text-dark);
    --ui-primary: var(--color-primary-dark);
    --ui-secondary: var(--color-secondary-dark);
    --ui-accent: var(--color-accent-dark);
  }
}